// Theme Dependencies
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Rubik:wght@400;600;700&display=swap');

// Foundation Grid System
@import 'base/foundation-settings';
@import 'vendors/foundation-includes';

// Slick JS Carousel
@import './node_modules/slick-carousel/slick/slick.scss';
@import 'vendors/slickjs';

// Core
@import 'base/wordpress';

// Please type all styles in SCSS or CSS format below
// font-family: 'Open Sans', sans-serif;
// font-family: 'Rubik', sans-serif;

//variables
$header-width: rem-calc(1300);
$red: #E31B23;
$white: #ffffff;
$grey: #B1B1B1;
$dark: #151515;
$button-padding: 0.875rem 1rem;
$bold: 700;

// set up
body {
    background: $dark;
    overflow-x: hidden;
}
.header-wrapper {
    width: 100%;
    max-width: $header-width;
    margin: auto;
}
.wrapper {
    width: 100%;
    max-width: $global-width;
    margin: auto;
}
// backgrounds
.opacity-1 {
    background:rgba(26, 26, 26, 0.80);
}
.opacity-2 {
    background: rgba(0, 0, 0, 0.42);
}
// typography
.white {
    color: $white;
}
.red {
    color: $red;
}
// header
header {
    padding: 2.125rem 0.938rem 1.25rem 0.938rem;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    z-index: 10;
    .cell {
        display: flex;
    }
    .logo {
        img {
            width: 100%;
            max-width: 15.125rem;
        }
    }
    .nav-wrapper {
        .grid-x {
            .cell {
                .menu {
                    a {
                        font-size: 0.875rem;
                        text-transform: uppercase;
                    }
                }
                .menu.primary {
                    li {
                        margin: 0 1.2rem;
                        display: flex;
                        align-items: center;
                        a {
                            color: $white;
                            padding: 0;
                        }
                        @media screen and (min-width: 64em) and (max-width: 74.9375em) {
                            margin: 0 0.5rem;
                        }
                    }
                    li:first-child {
                        margin: 0 1.2rem 0 0;
                    }
                    li:last-child {
                        margin: 0 0 0 1.2rem;
                    }
                }
                .utility {
                    margin-bottom:1rem;
                    li {
                        margin-right: 0.75rem;
                        a {
                            padding: 0;
                        }
                    }
                    li:last-child {
                        margin-right:0;
                    }
                    li.search {
                        background:url(../assets/)
                    }
                }
                .material-symbols-outlined {
                    color:$white;
                }
            }
        }
        .hamburger-menu {
            .search-button {
                margin-right:0.938rem;
            }
        }
    }
    @include breakpoint(small) {
        padding: 1.625rem 0.7rem 1.125rem 0.7rem;
    }
}
//buttons
.btn, input[type=submit] {
    padding: $button-padding;
    display: inline-flex;
    align-items: center;
    justify-content:center;
    font-weight: $bold;
    text-transform: uppercase;
}
.btn-outline {
    border: solid 1px $red;
    color: $white;
    a {
        color: $white;
    }
}
.btn-red, input[type=submit] {
    background: $red;
    a {
        color: $white;
    }
}
.btn-clear {
    background: none;
    color: $white;
    border: solid 1px transparent;
}
.btn, 
input[type=submit],
a {
    letter-spacing: 0.15em;
}
//icons
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
//search form
.search-container {
    width: 100vw;
    height: 100vh;
    top: -100vh;
    left: 0;
    position: fixed;
    background: $white;
    color: $dark;
    z-index: 15;
    .material-symbols-outlined {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    .search-form {
        width: 60%;
        max-width: 43.75rem;
        input[type=search] {
            border: none;
            border-bottom: solid 1px $dark;
            width: 100%;
            box-shadow: none;
        }
        input[type=submit] {
            border: none;
            outline: none;
            color: $white;
            float: right;
        }
    }
}
// hero block
.hero {
    background: url(../assets/hero-background-with-gradient.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15.5rem 0 17rem 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    h1,
    p {
        color: $white;
    }
    h1 {
        font-size: 2.813rem;
        font-weight: 600;
        line-height: 3.313rem;
        margin-bottom: 2.688rem;
        text-transform: uppercase;
        .red {
            color: $red;
        }
        @include breakpoint(small) {
            font-size: 2.5rem;
            line-height: 2.938rem;
        }
    }
    .tagline {
        font-size: 1rem;
        line-height: 2rem;
        border-left: solid 4px $red;
        padding-left: 0.938rem;
        margin-bottom: 5rem;
        @include breakpoint(small) {
            margin-bottom: 4.063rem;
        }
    }
    .button-container {
        .btn-outline {
            margin-right: 1.5rem;
        }
        @include breakpoint(small only) {
            .btn-clear {
                border: solid 1px $red;
            }
        }
    }
    @include breakpoint(small only) {
        background: linear-gradient(90deg, #1A1A1A -15%, rgba(26, 26, 26, 0.78) 43.42%), url(../assets/mobile-hero-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 11.063rem 0.75rem 15rem 0.75rem;
    }
}
.three-column-boxes {
    margin-top: -18.75rem;
    h4 {
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin-bottom: 1.125rem;
    }
    .grid-container {
        padding: 6.375rem 0 9.563rem 0;
        position: relative;
        .radial-gradient {
            position: absolute;
            top: 7%;
            left: -4%;
            width: 33.25rem;
            height:  33.25rem;
            background: radial-gradient(82.05% 82.05% at 50% 32.05%, #E31B23 0%, rgba(227, 27, 35, 0) 100%);
            opacity: 0.2;
            filter: blur(75px);
            z-index: 2;
            @include breakpoint(small only) {
                width: 100%;
                height:  33.25rem;
            }
        }
        .radial-shadow {
            position: absolute;
            top: 7%;
            right: -9.438rem;
            width:60vw;
            height: 60vw;
            max-width: 49.313rem;
            max-height:  49.313rem;
            background: radial-gradient(82.05% 82.05% at 50% 32.05%, #000000 0%, rgba(227, 27, 35, 0) 100%);
            opacity: 0.2;
            filter: blur(75px);
            z-index: 0;
            @include breakpoint(small only) {
                display:none;
            }
        }
        @include breakpoint(small) {
            padding: 6.375rem 0 0 0;
        }
    }
    .box-container {
        position: relative;
        z-index: 3;
    }
    .cell {
        padding: 1.25rem 1.875rem;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
        @include breakpoint(small) {
            padding: 2rem;
        }
    }
    .box-slider {
        color: $white;
    }
    
    @include breakpoint(small) {
        .feature-slider {
            margin-bottom: 1rem;
        }
    }
    .feature-box {
        color: $white;
        font-size: 0.875rem;
        h2 {
            font-size: 1.25rem;
            line-height: 2rem;
            font-weight: 500;
            text-transform: uppercase;
        }
        a {
            font-weight: $bold;
            text-transform: uppercase;
            text-decoration: underline;
        }
        .feature-image {
            height: 7.25rem;
            margin-bottom: 1rem;
            img {
                height: 7.25rem;
                width: 100%;
                object-fit: cover;
            }
        }
        @include breakpoint(small) {
            margin-bottom: 1rem;
        }
    }
    @include breakpoint(small) {
        margin-top: -15.75rem;
        padding: 0 1rem;
    }
}
.slick-slider {
    blockquote {
        border-left: none;
        margin: 0;
        padding:0;
        p {
            color: $grey;
            font-weight: 600;
        }
    }
    .reviewer,
    .name {
        color: $red;
        font-weight: $bold;
    }
    .name {
        margin-bottom: 0;
    }
    .slick-dots {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            background: $white;
            border-radius: 50%;
            width: 0.625rem;
            height: 0.625rem;
            font-size: 0;
            margin-right: 0.438rem;
        }
        li.slick-active {
            background: $red;
        }
    }
}